@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #222;
}

.page {
    display: block;
    
}
header {
    display: block;
    background: #FFF;
    padding: 5px 20px;
    position: relative;
}
header h1 strong {
    font-weight: 900;
    color: #222;
}
header section {
    display: inline-block;
}
header section:nth-of-type(2) {
    float: right;
}
.search {
    display: block;
    background: #79BE00;
    padding: 30px 0 50px 0;
    text-align: center;
    position: relative;
}
.search section {
    position: relative;
    display: inline-block;
}
.search .search-button {
    position: absolute;
    top: 4px;
    right: 10px;
    padding: 6px 10px;
    cursor: pointer;
}
.books {
    display: block;
    background: #DBDDD7;
    padding: 30px 20px;
}
.book {
    width: 24.9%;
    display: inline-block;
    vertical-align: top;
}
.book > div {
    padding: 15px;
    background: #FFF;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    text-align: center;
    position: relative;
    min-height: 380px;
    overflow: hidden;
}
.books > .book:nth-child(4n) > div {
    margin-right: 0px;
}
.book img {
    max-height: 180px;
}
h1 {
    font-size: 45px;
    color: #79BE00;
    margin: 0;
    padding: 0;
    font-weight: 800;
    vertical-align: middle;
}
h1 img {
    vertical-align: middle;
}
h2 {
    font-size: 22px;
    color: #222;
    margin: 0;
    line-height: 1.1em;
}
h3 {
    font-size: 16px;
    color: #222;
    margin: 0;
    line-height: 1.2em;
}
h4 {
    font-size: 49px;
    color: #FFF;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
p {
    font-size: 15px;
    color: #222;
}
button {
    padding: 10px 30px;
    background: #79BE00;
    color: #FFF;
    border-radius: 14px;
    display: inline-block;
    border: none;
}
.search input {
    width: 514px;
    padding: 15px;
    background: #FFF;
    color: #222;
    border-radius: 20px;
    border: none;
}
.search a {
    color: #FFF;
    text-decoration: none;
}
.book-nav {
    padding: 20px 20px 10px 20px;
    display: block;
    background: #DBDDD7;
}
.book-nav label {
    margin-right: 10px;
}
.book-nav select, select {
    padding: 5px 20px;
    background: #FFF;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
footer {
    padding: 10px 20px;
    background: #222;
    display: block;
    color: #FFF;
}
footer p {
    color: #FFF;
}
.book > div .star {
    position: absolute;
    top: 14px;
    right: 14px;
}
.wish-button {
    vertical-align: middle;
    padding: 10px;
    background: #FFF;
    border: solid #FFF thin;
    border-radius: 10px;
    cursor: pointer;
}
.wish-button span {
    vertical-align: middle;
}
.wish-button:hover {
    background: #EDE8E8;
    border: solid 1px #FFF;
}
.wish-button.active {
    background: #EDE8E8;
    border: solid 1px #CCC;
}
.wish-button img {
    vertical-align: middle;
}
.wishlist {
    position: absolute;
    right: 0px;
    top: 74px;
    background: #EDE8E8;
    padding: 0;
    border: solid #CCCCCC 1px;
    min-width: 300px;
    z-index: 2;
}
.wishlist > section {
    padding: 10px 15px;
    border-bottom: solid #CCC 1px;
    position: relative;
    display: block;
}
.wishlist p {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 0;
    line-height: 1.2em;
}
.wishlist .delete {
    position: absolute;
    top: 10px;
    right: 14px;
}
.advanced {
    overflow: hidden;
    height: 0px;
    transition: height 0.4s ease-out;
}
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 3;
    display: block;
    overflow: hidden;
}
.modal {
    width: 80%;
    height: auto;
    padding: 20px;
    background: #FFF;
    border-radius: 15px;
    display: block;
    margin: 4% auto 0 auto;
    position: relative;
}
.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 24px;
    height: 21px;
    text-align: center;
    background: #FFF;
    border-radius: 50%;
    padding-top: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #FFF;
    transition: box-shadow 0.4s ease-out;
}
.modal-close:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.modal article section {
    display: inline-block;
    vertical-align: top;
}
.modal article section:nth-of-type(1) {
    width: 30%;
    margin-right: 20px;
}
.modal article section:nth-of-type(2) {
    width: 64%;
}
.modal article section img {
    max-width: 100%;
}
.modal h2 {
    font-size: 30px;
}
.modal h3 {
    font-size: 26px;
}
.modal h5 {
    font-size: 18px;
    margin: 0;
}