@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #222;
}

.page {
    display: block;
    
}
header {
    display: block;
    background: #FFF;
    padding: 0 20px;
}
.search {
    display: block;
    background: #79BE00;
    padding: 30px 0 50px 0;
    text-align: center;
}
.books {
    display: block;
    background: #DBDDD7;
    padding: 30px 20px;
}
.book {
    width: 22%;
    display: inline-block;
    background: #FFF;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}